<a href="https://colab.research.google.com/github/PremGorecki/DataScience/blob/main/02_analiza_danych/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.__version__

'1.3.5'

In [ ]:
s = pd.Series(data=[3, 2, 4, 6])
print(s)

0    3
1    2
2    4
3    6
dtype: int64

In [ ]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name = 'sample')
print(s)

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [ ]:
s = pd.Series(data=[3., 2, 4, 6], index=['a', 'b', 'c', 'd'], name = 'sample')
print(s)

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
import numpy as np
np.nan

nan

In [ ]:
s = pd.Series(data=[3., np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name = 'sample')
print(s)

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
s = pd.Series(data=[True, False, False])
print(s)

0     True
1    False
2    False
dtype: bool

In [ ]:

s = pd.Series(data = np.arange(10, 20), index = pd.date_range(start='20200101', periods=10))
print(s)

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [ ]:

s = pd.Series(data = ['python', 'java', 'sql'], name='languages')
print(s.index)

RangeIndex(start=0, stop=3, step=1)

In [ ]:
print(s.values)

['python' 'java' 'sql']

In [ ]:
print(s.dtypes)

object

In [ ]:
print(s.shape)

(3,)

In [ ]:
price = pd.Series(data = {'Apple' : 200, 'CD Projekt' : 60, 'Amazon' : 1900, 'KGHM' : np.nan })
print(price)

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price['CD Projekt']

60

In [ ]:
price[1]

60

In [ ]:
print(price.count())

3

In [ ]:
print(price.value_counts(dropna=False))

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [ ]:
print(price.sum())

2160

In [ ]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
print(price.nlargest(2))

Amazon    1900.0
Apple      200.0
dtype: float64

In [ ]:
print(price.nsmallest(2))

CD Projekt     60.0
Apple         200.0
dtype: float64

In [ ]:
print(price.rank())

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [ ]:
print(price.sort_values(ascending=False))

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [ ]:
price_pln = price.apply(lambda x: x * 3.8 )
print(price_pln)

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [4]:
df = pd.DataFrame(data = [4, 5, 6])
print(df)

   0
0  4
1  5
2  6

In [5]:
df = pd.DataFrame(data = [4, 5, 6], index=['first', 'second', 'third'], columns=['col_1'])
print(df)

        col_1
first       4
second      5
third       6

In [6]:
df = pd.DataFrame(data = [[1, 2], [3, 4]])
print(df)

   0  1
0  1  2
1  3  4

In [8]:
df = pd.DataFrame(data = {'WIG20' : ['PKN ORLEN', 'PKOBP'],
                          'mWIG40' : ['Amica', 'Playway']})

print(df)

       WIG20   mWIG40
0  PKN ORLEN    Amica
1      PKOBP  Playway

In [10]:
df.columns

Index(['WIG20', 'mWIG40'], dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [12]:
df.values

array([['PKN ORLEN', 'Amica'],
       ['PKOBP', 'Playway']], dtype=object)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WIG20   2 non-null      object
 1   mWIG40  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [15]:
df.describe()

            WIG20 mWIG40
count           2      2
unique          2      2
top     PKN ORLEN  Amica
freq            1      1

In [16]:
df = pd.DataFrame(data = [[10, 12, 13], [23, 12, 10]],
                  index = ['first', 'second'],
                  columns = ['col_1', 'col_2', 'col_3'])
print(df)

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [17]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [18]:
type(df['col_1'])

pandas.core.series.Series

In [19]:
df[['col_1']]

        col_1
first      10
second     23

In [20]:
df.columns = ['a', 'b', 'c']

In [21]:
print(df)

         a   b   c
first   10  12  13
second  23  12  10

In [22]:
print(df.a)

first     10
second    23
Name: a, dtype: int64

In [23]:
df['d'] = df.a + df.c

In [25]:
print(df)

         a   b   c   d
first   10  12  13  23
second  23  12  10  33

In [26]:
df = pd.DataFrame(data = [[10, 12, 13], [23, 12, 10]],
                  index = ['first', 'second'],
                  columns = ['col_1', 'col_2', 'col_3'])
print(df)

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [28]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [29]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [31]:
df.loc['first', 'col_2']

12

In [32]:
df.iloc[0, 1]

12