<a href="https://colab.research.google.com/github/PremGorecki/DataScience/blob/main/10_testy/01_testowy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import numpy as np
import pandas as pd


df = pd.DataFrame(data={'col1': [1, 2], 'col2': [5, 4]}, dtype=np.float64)
df.columns = ['One', 'Two']
df = df.sort_values('Two', ascending=True)

data2 = np.array(['Jan', 'Przemek'])
df2 = pd.DataFrame(data=data2, columns=['Name'])

# axis = 0 to pod spodem dodaje
# axis = 1 to jako kolumna
df = pd.concat([df, df2], axis=0)
print(df)

   One  Two     Name
1  2.0  4.0      NaN
0  1.0  5.0      NaN
0  NaN  NaN      Jan
1  NaN  NaN  Przemek

   One  Two     Name
1  2.0  4.0      NaN
0  1.0  5.0      NaN
0  NaN  NaN      Jan
1  NaN  NaN  Przemek